<header class="header">
    <a class="header-logo" href="/">
        <img class="logo" src="assets/img/VitrinaNoBackground.png" width="200" height="100" alt="Aleq"/>
    </a>
    <nav class="header-menu">
        <ul class="header-menu-list">
            <li class="header-menu-list-item">      
                <a 
                    href="/"
                    class="header-menu-link current-active"
                    >Home
                </a>
            </li>
            <li class="header-menu-list-item">
                <a
                    href="/product-list"
                    class="header-menu-link"
                    >Product List
                </a>
            </li>
            <li class="header-menu-list-item">
                <a
                    href="/contacts"
                    class="header-menu-link"
                    >Contact
                </a>
            </li>
            <li class="header-menu-list-item">
                <a
                    href="/auth"
                    class="header-menu-link"
                    >Authorisation
                </a>
            </li>
        </ul>
    </nav>   
</header>
